@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap ');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap ');

:root{
    --preto: #040301;
    --dourado: #9C8050;
    --branco: #FFFFFF;
    --cinza_escuro: #0D0D0D;
    --fonte_titulo:'abhaya libre';
    --fonte_textos:'saira';
}

body{
    font-family: var(--fonte_textos);
    margin: 0px;
}

#menu_topo img{
    height: 70px;

}

#menu_topo {
    background-color: var(--preto);
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;

}

.btn_dourado{
    background-color: var(--dourado);
    color: var(--branco);
    font-weight: 700;
    width: 200px;
    height: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#secao1{
    height:fit-content;
    padding-top: 100px;
    padding: bottom 100px; ;
    background-image: url(imagens/bg1.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
}
#formulario1{
    min-width: 400px;
    background-color: rgba(32, 30, 26, 0.3);
    border: 1px solid var(--dourado);
    backdrop-filter: blur(10px);
    margin-right: 80px;
    max-width: 500px;
    color: var(--branco);
    padding: 20px;
    
}
#foto1{
    height: 40vw;
    min-height: 500px;
    margin-bottom: 40px;
}

#formulario1 h1{
    color: var(--dourado);
    font-family: var(--fonte_titulo);
}
 
#formulario1 p{
    color: var(--branco);
}

#formulario1 button{
    background-color: var(--dourado);
    color: var(--branco);
    font-weight: 700;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

}
#formulario1 input{
    width: 99.5%;
    background-color: #3e3b35ca;
    outline: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border: none;
}

#secao2{
    background-color: var(--preto);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
}

.cartoes{
    background-color: var(--cinza_escuro);
    border: 1px solid var(--dourado);
    min-width: 350px;
    max-width: 350px;
    min-height: 280px;
    color: var(--branco);
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 80px;
}
.cartoes h4{
    color: var(--dourado);
    text-transform: uppercase;
    font-size: 20px;
    font-family: var(--fonte_titulo);
}

.icones{
    width: 40px;
    height: 40px;
    background-color: var(--dourado);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: -60px;
}

#secao3{
    background-color: var(--cinza_escuro);
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#secao3 img{
    min-height: 500px;
    height: 35vw;
}

#conteudo3{
    border: 1px solid red;
    min-width: 400px;
    width: 45vw;
}

#conteudo3 p{
    color: var(--branco);
}
.cartoes2{
    display: flex;
}

.verificado{
    background-color: var(--dourado);
    max-width: 15px;
    max-height: 15px;
    display: flex;

}

.verificado img{
    max-width: 10px;
    max-width: 10px;
}





@media screen and (max-width: 1024px){
    #formulario1{
        margin: auto;
        max-width: 70%;
        min-width: 70%;
    }
}