@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap ');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap ');

:root{
    --preto: #040301;
    --dourado: #9C8050;
    --branco: #FFFFFF;
    --cinza_escuro: #0D0D0D;
    --fonte_titulo:'abhaya libre';
    --fonte_textos:'saira';
}

body{
    font-family: var(--fonte_textos);
    margin: 0px;
}

#menu_topo img{
    height: 70px;

}

#menu_topo {
    background-color: var(--preto);
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;

}

.btn_dourado{
    background-color: var(--dourado);
    color: var(--branco);
    font-weight: 700;
    width: 200px;
    height: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#secao1{
    height:fit-content;
    padding-top: 100px;
    padding: bottom 100px; ;
    background-image: url(imagens/bg1.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
}
#formulario1{
    min-width: 400px;
    background-color: rgba(32, 30, 26, 0.3);
    border: 1px solid var(--dourado);
    backdrop-filter: blur(10px);
    margin-right: 80px;
    max-width: 500px;
    color: var(--branco);
    padding: 20px;
    
}
#foto1{
    height: 40vw;
    min-height: 500px;
    margin-bottom: 40px;
}

#formulario1 h1{
    color: var(--dourado);
    font-family: var(--fonte_titulo);
}
 
#formulario1 p{
    color: var(--branco);
}

#formulario1 button{
    background-color: var(--dourado);
    color: var(--branco);
    font-weight: 700;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

}
#formulario1 input{
    width: 99.5%;
    background-color: #3e3b35ca;
    outline: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border: none;
}

#secao2{
    background-color: var(--preto);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
}

.cartoes{
    background-color: var(--cinza_escuro);
    border: 1px solid var(--dourado);
    min-width: 350px;
    max-width: 350px;
    min-height: 280px;
    color: var(--branco);
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 80px;
}
.cartoes h4{
    color: var(--dourado);
    text-transform: uppercase;
    font-size: 20px;
    font-family: var(--fonte_titulo);
}

.icones{
    width: 40px;
    height: 40px;
    background-color: var(--dourado);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: -60px;
}

#secao3{
    background-color: var(--cinza_escuro);
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid var(--dourado);
}
#foto2{
    min-height: 500px;
    height: 35vw;
}

#conteudo3{
    min-width: 400px;
    width: 38vw;
    margin-left: 100px;
}

#conteudo3 p{
    color: var(--branco);
}
.cartoes2{
    display: flex;
    margin-top: 20px;
}

.verificado{
    background-color: var(--dourado);
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    margin-right: 10px;
}

#icone_verificado{
max-width: 10px;
    max-width: 10px;
}

.cartoes2 p{
    margin-top: -7px;
}

#conteudo3 h1{
    color: var(--dourado);
    font-family: var(--fonte_titulo);
}

#secao4{
    background-color: var(--dourado);
    height: fit-content;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}
#secao4 h1{
    width: 70%;
    margin: auto;
    text-transform: uppercase;
    font-family: var(--fonte_titulo);
    font-weight: 700;
}
#secao4 p{
    text-transform: uppercase;
    font-size: 20px;
}

#secao4 form{
    display: flex;
    margin: auto;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: center;
   
}

#secao4 input{
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    outline: none;
    margin-right: 15px;
    height: 50px;
    width: 300px;
    margin-bottom: 20px;
}

#secao4 button{
    background-color: var(--preto);
    color: var(--dourado);
    width: 330px;
    height: 50px;
    font-weight: 700;
    border: none;
}

#secao5{
    background-color: var(--preto);
    height: fit-content;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap-reverse;
    color: var(--branco);
    justify-content: center;
}
#secao5 h1{
    font-family: var(--fonte_titulo);
    color: var(--dourado);
    font-size: 45px;
    text-transform: uppercase;
}
#conteudo5{
    min-width: 400px;
    width: 35vw;
    margin-right: 60px;
}

#foto3{
    max-height: 500px;
    height: 60vw;

}

#rodape{
    background-color: var(--cinza_escuro);
    color: var(--branco);
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid var(--dourado);
    justify-content: space-between;
}

#rodape div{
    min-width: 400px;
    text-align: center;

}

#body{
    background-color: var(--preto);
}

#mensagem_confirmacao{
    color: white;
    margin: auto;
    width: fit-content;
    text-align: center;
}

#mensagem_confirmacao h1{
    font-family: var(--fonte_titulo);
    color: var(--dourado);
    font-weight: 700;
    margin-top: 100px;
    font-size: 50px;
}

#logomarca{
    height: 200px;
    margin-top: 30px;
}
@media screen and (max-width: 1024px){

    #secao3{
        flex-direction: column;
    }
    #formulario1{
        margin: auto;
        max-width: 70%;
        min-width: 70%;
    }
#conteudo3{
    margin: auto;
    margin-top: 70px;
}

#conteudo5{
    margin: auto;
    margin-top: 40px;
    text-align: center;
}
}